$default-theme:(
        color-primary: #3F86E8,
        layout-head-height:48px,
        left-menu-width:200px,

        color-primary-light: #92BBF3,
        font-family: (Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif),

)
